/* zerando as configurações */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garantindo que o body ocupe toda a tela e centralize o conteúdo */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CF8E55;
    font-family: 'Poppins';
}

/* configuração geral do cabeçalho */
header {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

/* configuração do h1 */
h1 {
    margin-left: 2%;
}

/* configuração geral do h2 */
h2 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

/* configuração do h4 */
h4 {
    text-align: center;
    padding: 0px 0px 5px 0px;
}

/* configuração geral dos forms */
form {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

/* configurando o form1 */
form1 {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

/* flexibilidade dos formularios */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fazendo formulario de cadastro de produtos */
form2 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 240px;
}

/* configuração geral da class form */
.form {
    margin-top: 120px;
    display: block;
    border: 1px solid black;
    width: 700px;
    height: 400px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

/* Iniciando sistema cadastro de fornecedor */
.fornecedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    padding: 20px 30px 7px;
}

/* configuração geral dos inputs */
input {
    height: 40px;
    border-radius: 5px;
    display: flex;
    border-color: black;
}

/* configurando os botões do formulario */
.formulario input {
    background-color: white;
    display: flex;
    color: #A66B38;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    justify-content: center flex-start;
    align-items: center;
}

/* configurando os links */
.formulario a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* configurando os input do form1 */
form1 input {
    display: flex;
    color: #A66B38;
    font-weight: normal;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* botoes input formulario 2 */
form2 input {
    display: flex;
    color: #A66B38;
    font-weight: normal;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* botões input fornecedor */
.fornecedor input {
    display: flex;
    color: #A66B38;
    font-weight: normal;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* configuração geral dos placeholders */
::placeholder {
    color: #CF8E55;
}

/* configuração geral dos botoes */
button {
    background-color: #A66B38;
    width: 50%;
    color: white;
    align-self: center;
    height: 35px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
}

/* button da class entrar */
button.entrar {
    width: 120px;
    position: relative;
    margin-left: 41%;
}

/* hover de todos os botoes */
button:hover {
    background-color: #CF8E55;
    color: black;
}

/* class dos botões da landing page bem-vindo */
.btn-bem-vindo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding: 40px;
    transition: background-color 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
}

/* mexendo no botao da landing page bem-vindo */
.btn-bem-vindo button {
    background-color: white;
    display: flex;
    color: #A66B38;
    font-weight: normal;
    width: 250px;
    padding: 10px;
    justify-content: center flex-start;
    align-items: center;
}

/* hover do btn-bem-vindo */
.btn-bem-vindo button:hover {
    background-color: #CF8E55;
    color: white;
}

/* configuração botao cadastro fornecedores */
.fornecedor button {
    width: 100px;
    margin-top: 10px;
}

/* botao sistema de cadastro fornecedores */
.produtos button {
    width: 120px;
    position: relative;
    margin-left: 38%;
}

/* tamanho da logo dogma preta */
.logo-preta {
    height: 100px;
    margin-left: 20px;
}

/* configuração link voltar fornecedores */
a {
    text-decoration: none;
}

/* hover dos links voltar */
.fornecedores a:hover {
    color: black;
}

/* configurando os fornecedores da tabela */
.fornecedores table {
    width: 100%;
    margin-top: 0;
    padding: 0px;
}

/* tabela de cadastro fornecedores */
.form table {
    display: flex;
}

/* configurando a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    padding: 40px;
    align-items: center;
    margin-top: 40px;
}

/* mexendo no th e td */
th,
td {
    border: 3px solid #D8C1AB;
    /* Adiciona borda ao redor de cada célula */
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

/* mexendo no th */
th {
    background-color: #D8C1AB;
    color: #4E372B;
    border: 3px solid #A66B38;
    width: 100%;
}

/* mudando o fundo do td */
td {
    background-color: #F7EFE5;
}

/* configuração de link especial */
.a {
    color: #C45C2C;
    text-decoration: none;
}

/* fazendo a mudaça de cor com o hover */
.a:hover {
    text-decoration: underline;
}

/* configuração do select */
select {
    display: flex;
    color: black;
    font-weight: normal;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

/* configuração do textarea */
textarea {
    width: 250px;
    height: 40px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}

/* botao voltar */
.voltar{
    color: #A66B38;
    margin-left: 30px;
}

/* segundo botao voltar */
.volta{
    color: #A66B38;
    margin-left: 30px;
    transition: ease 0.3s;
}

/* hover do botao voltar */
.volta:hover{
    color: black;
}

/* Aplica esses estilos quando a largura máxima da tela for 480px ou menor (dispositivos móveis) */
@media (max-width: 480px) {

    /* Estilos para o container do formulário */
    .form {
        width: 300px; /* Define a largura do formulário */
        margin-top: 200px; /* Espaçamento superior */
        margin-bottom: 20px; /* Espaçamento inferior */
        border-radius: 5px; /* Arredonda as bordas */
    }

    /* Estilos para o titulo principal da pagina */
    h1{
        font-size: 24px; /*tamanho idel de titulo para pagina pequena*/
    }
    /* Estilos gerais para o formulário */
    form {
        padding: 0; /* Remove o padding padrão */
        margin-top: 20px; /* Espaçamento superior */
        width: 90%; /* Define a largura do formulário como 90% da tela */
        padding: 10px; /* Adiciona espaçamento interno */
        height: auto; /* Define a altura automática */
    }

    /* Estilos para o elemento "form1" */
    form1 {
        padding: 0; /* Remove o padding padrão */
        margin-top: 20px; /* Espaçamento superior */
        width: 90%; /* Define a largura do formulário como 90% da tela */
    }

    /* Estilos para o elemento "form2" */
    form2 {
        padding: 0%; /* Remove o padding */
        gap: 2; /* Define o espaçamento entre os elementos */
        height: 400px; /* Define a altura de 400px */
        margin-top: -60px; /* Define um espaçamento superior negativo */
        margin-bottom: -70px; /* Define um espaçamento inferior negativo */
        width: 320px; /* Define a largura do elemento */
        display: flex; /* Usa flexbox para posicionar os elementos */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        margin-left: -10px; /* Define um deslocamento à esquerda */
    }

    /* Estilos para o botão */
    button {
        display: flex; /* Usa flexbox para alinhar os elementos no botão */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
    }

    /* Estilos para a tabela */
    table {
        display: flex; /* Usa flexbox para alinhar os elementos da tabela */
        margin-left: 15px; /* Define um espaçamento à esquerda */
    }

    /* Estilos para o corpo da tabela */
    tbody {
        width: 300px; /* Define a largura do corpo da tabela */
    }

    /* Estilos para o cabeçalho da tabela (th) */
    th {
        font-size: 6.5px; /* Define um tamanho pequeno para o texto */
        height: 3px; /* Define uma altura pequena */
        width: 10px; /* Define uma largura pequena */
        padding: 9px; /* Define o espaçamento interno */
    }

    /* Estilos para links (a) */
    a {
        display: flex; /* Usa flexbox para alinhar o link */
        font-size: 12px; /* Define o tamanho da fonte */
    }

    /* Estilos adicionais para a tabela */
    .table {
        display: flex; /* Usa flexbox para alinhar a tabela */
        padding: 0; /* Remove o padding */
    }

    /* Repetição do estilo de "tbody" */
    tbody {
        width: 300px; /* Define a largura do corpo da tabela */
    }

    /* Repetição do estilo de "th" */
    th {
        font-size: 6.5px; /* Define o tamanho da fonte */
        height: 3px; /* Define a altura */
        width: 10px; /* Define a largura */
        padding: 9px; /* Define o espaçamento interno */
    }

    /* Estilos para as células da tabela (td) */
    td {
        font-size: 6.5px; /* Define o tamanho da fonte das células */
    }

    /* Estilos para o link com a classe "a" */
    .a {
        font-size: 6.5px; /* Define o tamanho da fonte para links com a classe "a" */
    }

    /* Estilos para o elemento com a classe "voltar" */
    .voltar {
        color: #A66B38; /* Define a cor do texto */
    }

    /* Estilos para o botão com a classe "btn-bem-vindo" */
    .btn-bem-vindo {
        margin-top: -20px; /* Define um espaçamento superior negativo */
        gap: 5px; /* Define o espaçamento entre os elementos */
        margin-bottom: -30px; /* Define um espaçamento inferior negativo */
        padding: 5px 0px 10px; /* Define o padding (superior/inferior) */
        margin-bottom: 10px; /* Define um espaçamento inferior */
        margin-top: 20px; /* Define um espaçamento superior */
    }
}
